---
layout: page
title: "Blog"
categories: page

body_class: blog
position: 3
---

{% capture categories %}
    {% for category in site.categories %}
        {{ category[0] }}
    {% endfor %}
{% endcapture %}
{% assign sortedcategories = categories | split:' ' | sort %}

<div class="post-box">
    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="category-box">
    <ul class="category-list">
        <h4>Categories</h4>
        {% for category in sortedcategories %}
            <li><a href="/categories/{{category}}">{{category}}</a></li>
        {% endfor %}
    </ul>
</div>

<!--<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>-->
